/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-content-carousel {
	border: 1px dotted #f00;
}

.ufl-brands {
    max-width: 30px;
	margin-bottom: 20px;
}