/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */


 .social-column {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.editor-styles-wrapper .ufl-brands {
  display: flex;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  max-width:35px;
  max-height:35px;
  margin-bottom:20px;
}