/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-cta-showcase {
	border: 1px dotted #f00;
}

.editor-styles-wrapper .ufl-brands {
    display: flex;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}