.cards-text-only {
  padding-top: 40px;
  padding-bottom: 40px;


  @media (min-width: 1024px) {
      padding-top: 80px;
      padding-bottom: 50px;
  }
      
  .card-container {

      .slick-track {
          
          @media (min-width: 1024px) {
              display: flex !important;
              justify-content: center;
              justify-content: center;
              align-items: stretch;
              align-content: stretch;
          }
          }

      .slick-arrow {
          position: absolute;
          bottom: -10px;
          left: 0;
          right: 0;
          margin: auto;
          appearance: none;
          -webkit-appearance: none;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center!important;
          gap: 12px;
          background: none!important;
          color: #FA4616!important;
          font-size: 42px;
          width: 22px;
          line-height: 1;
          border-radius: 0;
          justify-content: center;
          z-index: 99;
          
          &:hover,
          &:focus {
            opacity: 0.5;
          }
      }
      .cto-next {
          left: 40px;
      }
      .cto-prev {
          right: 40px;
      }
      .slick-disabled {
          opacity: .5;
          pointer-events: none;
      }
  }
}