/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-showcase-text-only {
	border: 1px dotted #f00;
}


 
 .wp-block-create-block-showcase-text-only {
    background-color: #f4f6f6;
    overflow-x: hidden;
    padding: 6% 7% 7%;
	color: #000;
	
    @media (min-width: 800px) {
      padding: 112px 7% 100px;
    }
    
    h2 {
		text-align: center;
    }
  
    p {
      font-family: "gentonalight", Arial, sans-serif;
      color: #000;
      font-size: 17px;
      line-height: 24px;
      margin-bottom: 60px;
      text-align: center;
      margin-bottom: 36px;
  
      @media (min-width: 800px) {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 60px;
      }
    }
  
    .button-text-dark {
      &:hover,
      &:focus {
        background-color: #fff !important;
      }
    }
  }
  