/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
 .factoids {
  padding-top: 50px;
  padding-bottom: 10px;
  max-width: calc(1640px + 5%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 7%;
  padding-right: 7%;
  overflow-x: hidden;

  .wp-block-columns {
    margin-bottom: 0;
  }

  @media (min-width: 900px) {
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 100px;
    padding-bottom: 20px;
  }

  .factoid-col {
    margin-bottom: 30px;

    .factoid-number {
      font-size: 40px;
      line-height: 60px;
      color: #0021a5;
      border-bottom: 2px dotted #fa4616;
      font-family: "IBM Plex bold", Arial, sans-serif;

      @media (min-width: 900px) {
        line-height: 60px !important;
        font-size: 60px;
        padding-bottom: 32px;
      }
    }

    .factoid-subhead {
      color: #0021a5;
      font-size: 22px;
      line-height: 28px;
      font-family: "IBM Plex semibold";
      font-weight: bold;
      text-align: center;

      @media (min-width: 900px) {
        font-size: 24px;
        line-height: 28px;
      }
    }

    .factoid-subtext {
      color: #000;
      font-size: 18px;
      line-height: 28px;
      max-width: 395px;
      margin-left: auto;
      margin-right: auto;

      @media (min-width: 900px) {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
}
