.faculty-page {
  background-color: #343741;
  padding-top: 62px;
  padding-bottom: 100px;
  padding-left: 7%;
  padding-right: 7%;
  overflow-x: hidden;
  h1 {
      font-size: 48px;
      letter-spacing: 0.2em;
      line-height: 54px;
      text-align: center;
      color: #fff !important;
      text-align: center;
      max-width: 1074px;
      margin-left: auto;
      margin-right: auto;
      font-family: "IBM Plex light";
  }
  hr {
      border-top: 2px solid #FA4616;
      opacity: 1;
      text-align: center;
      max-width: 1074px;
      margin-left: auto;
      margin-right: auto;
  }

  .faculty-row {
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding-top: 70px;
      gap: 2%;

      @media (min-width: 1050px) {
          justify-content: flex-start;
      }

  }
  
  
  .faculty-listing-item {
    max-width: 300px;
    margin-bottom: 45px;

      @media (min-width: 1050px) {
        margin-bottom: 55px;
        width: 18%;
        margin-bottom: 70px;
    }


    .faculty-listing-img {
      position: relative;
      overflow: hidden;
      display: block;

      &:after {
        content: "";
        background-color: #fa4616;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateX(101%);
        transition: all 0.2s ease-in-out;
        z-index: 9999999;
        mix-blend-mode: multiply;
      }

      &:focus {
        &::after {
          transform: translateX(0%);
        }
      }

      img {
        width: 100%;
      }
    }
    .faculty-listing-img.hovered {
      &::after {
        transform: translateX(0%);
      }
  }

        .faculty-listing-bio {
          margin-top: 40px;


          .faculty-tel {
            text-decoration: none;
            font-family: "IBM Plex light";
            font-size: 20px;
            line-height: 28px;
          }
      
          p,
          a {
            color: #fff;
            display: block;
            font-size: 20px;
            font-family: "IBM Plex light";
            margin-bottom: 5px;
      
            strong {
              font-family: "IBM Plex semibold";
              display: block;
            }
      
            &:hover,
            &:focus {
              text-decoration: none;
            }
          }
        }
  }

  .loadmore-light {
    background-color: transparent !important;
    color: #343741 !important;

    &:hover, &:focus {

      @media (max-width: 420px) {
        background-color: transparent !important;
        color: #343741 !important;
    }
    }
  }

  .loadmore-dark:hover {
    @media (max-width: 420px) {
      color: #f4f6f6 !important;
      background-color: #343741 !important;
  }
  }

  .animated-border-button:before, .animated-border-button:after {
    @media (max-width: 420px) {
      width: 87% !important;
  }
}

  .container-fluid {
      max-width: 1920px;
  }
}




.editor-styles-wrapper .faculty-page .faculty-listing-item {
  width: 100%;
}

.editor-styles-wrapper .faculty-row .block-editor-block-list__layout {
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 70px;
  gap: 2%;
  display: flex;
}

.faculty-row .block-editor-block-list__block .block-list-appender {
  position: relative;
  background-color: #ffffffc2;
}


.faculty-page .editor-styles-wrapper h1 {
  color: #fff !important;
}


.editor-styles-wrapper .faculty-page hr {
  border-top: 2px solid #FA4616 !important;
  opacity: 1 !important;
  text-align: center;
  max-width: 1074px;
  margin-left: auto;
  margin-right: auto;
}


.faculty-page.light{
    background-color: #F4F6F6 !important;
  }

  .faculty-page.light h1, .faculty-page.light .h1{
    color: #000000 !important;
  }
  .faculty-page.light .faculty-listing-item .faculty-listing-bio p, .faculty-page.light .faculty-listing-item .faculty-listing-bio a{
    color:#000000 !important;
    margin-bottom: 6px !important;
    line-height: 22px !important;
  }

  .block-editor-inner-blocks .faculty-listing-img {
    mix-blend-mode: unset !important;
}