/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
 .fullwidth-text-block {
  overflow-x: hidden;
  padding-left: 7%;
  padding-right: 7%;

  .container {
    padding-top: 45px;

    @media (min-width: 800px) {
      padding-top: 95px;
    }

    @media (min-width: 1196px) {
      max-width: 1074px;
    }

    h2 {
      display: block;
      @media (min-width: 800px) {
        margin-bottom: 40px;
        
      }

      a {
        font-family: "gentonamedium";
        color: #0021a5;
        text-decoration: none;

        &:hover, &:focus {
          text-decoration: underline;
          color: #000;
        }
      }
    }

    .intro {
      display: block;
      font-size: 22px;
      line-height: 32px;
      color: #343741;
      font-family: "gentonamedium";
      margin-bottom: 20px;

      @media (min-width: 800px) {
        margin-bottom: 40px;
        font-size: 26px;
        line-height: 38px;
      }
    }
    p {
      display: block;
    }
  }
}

.fullwidth-text-block img.alignleft {
  float: left;
  margin-right: 10px;
}

.fullwidth-text-block img.alignright {
  float: right;
  margin-left: 10px;
}

.fullwidth-text-block iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: unset;
}