/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .alert {
  position: relative;
  background-color: #000 !important;
  margin-bottom: 0;
  border: none !important;
  border-radius: 0;
  height: auto !important;
  background-repeat: no-repeat;
  background-position: 5px;
  background-size: auto 100%;
  padding: 35px 5% !important;
  overflow-x: hidden;
  margin-bottom: 0 !important;
  border-radius: 0 !important;

  @media (min-width: 991px) {
    background-image: url('./img/alert-design.webp');
  }

  .alert-wrapper {
    padding-left: 5%;
    padding-right: 5%;
  }

  .alert-title {
    color: #fa4616;
    font-size: 24px;
    line-height: 24px;
    font-family: "IBM Plex bold italic";
    margin-bottom: 30px;

    @media (min-width: 991px) {
      font-size: 32px;
      line-height: 40px;
    }
  }

  .alert-body {
    p,
    a {
      font-family: "IBM Plex medium";
      font-size: 17px;
      margin-bottom: 22px;

      @media (min-width: 991px) {
        font-size: 19px;
        line-height: 24px;
      }

    }

    a {
      color: #fff;
      text-decoration: underline;

      &:hover,
      &:focus {
        color: #f2a900;
      }
    }
  }

  .animated-underline-button {
    color: #fff;

    &:hover,
    &:focus {
      color: #fff;

      &::after {
        border-bottom: 2px solid #fff;
      }
    }
  }

  .btn-close {
    opacity: 1;
    display: flex;
    flex-direction: column-reverse;
    height: 65px;
    width: 55px;
    text-align: center;
    align-items: center;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff' ><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>");
    margin-left: 10px;
    font-size: 18px;
    font-family: "IBM Plex medium";
    

    &:hover, &:focus {
      color:#f2a900 !important;
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f2a900' ><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>");
    }

  }
}


.editor-styles-wrapper .alert .animated-underline-button {
  color:#fff !important;
}

.editor-styles-wrapper .button-wrapper .block-editor-block-list__layout {
  display: flex !important;
  flex-wrap: wrap;
  gap: 20px;
 }


 .button-wrapper .block-list-appender {
  bottom: -35px !important;
 }

